@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;600;800&display=swap');

/* site wide page styles */
body {
    margin: 0;
    padding: 0;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    color: #530F83;
    background-color: #bbecf7;
}

.bold {
    font-weight: 800;
}

/* colour palettes */

.bg-light-blue {
    background-color: #bbecf7;
}

.bg-yellow {
    background-color: #F7cc57;
}

.bg-pink {
    background-color: #bc0e5a;
}

.bg-purple {
    background-color: #530F83;
}

.text-purple {
    font-weight: 800;
    letter-spacing: 0.05rem;
    color: #530F83 !important;
}

.text-pink {
    color:#bc0e5a;
}

/* font styles */

.capitalize {
    text-transform: capitalize;
}

.underline {
    text-decoration: underline;
}

/* display toggle */

.hidden {
    display: none;
}

/* user action immediate feedback messages */
.flash-message {
    text-transform: capitalize;
    color: #fff;
    background-color: #bc0e5a;
    margin: 0;
}

#duration,
#players {
    width: 8em;
}

#difficulty {
    width: 8rem;
}

.search-group {
    font-weight: 400;
        margin: 0.4rem auto;
    }

#game-library {
    background-color: rgb(247, 204, 87);
}

.game-image-container {
    max-width: 300px;
    max-height: 300px;
}

#game-image {
    object-fit: contain;
    border: 10px solid white;
}

.game-card {
    max-width: 350px;
    border: 10px solid white;
}

.card-text {
    line-height: 0.7;
}

.card-library-btns {
    width: 250px;
}

.card-text-description {
    line-height: 1.4;
}

/* profile username */
.username-title {
    text-transform: capitalize;
    line-height: 2;
}

/* user profile image */
#circle-border {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* user profile image circle frame */
#circle-profile-img {
    border-radius: 50%;
    max-width: 100%;
    max-height: 100%;
}

/* profile.html: collection image */
.thumbnail-container {
    position: relative;
    margin: 0.25rem;
    max-width: 250px;
    max-height: 250px;
}

.img-thumbnail {
    object-fit: contain;
    max-height: 250px;
    border: 5px solid white;
}

.coll-game-delete {
    position: absolute;
    bottom: 20px;
    right: 10px;
    color: white;
}

/* game.html: review entry */
.review-entry {
    padding:0.5rem;
    border: 1px solid #530F83;
}

/* media queries for responsive layout (bootstrap breakpoints) */
@media screen and (min-width:320px) and (max-width:575px) {

    /* Main logo */
    #logo-svg {
        max-width: 175px;
    }

    /* library.html: game image on game card */
    #game-image {
        max-width: 300px;
        max-height: 300px;
        padding: 0;
    }

    /* profile.html: user image */
    #circle-border {
        width: 150px;
        height: 150px;
    }

    .username-title {
        margin: 0;
        line-height: 1;
        font-size: 1rem;
    }

    #profile-info {
        text-align: center;
        margin: 0;
    }

    #edit-card,
    #login-card {
        padding: 0;
        margin: 0 0 0 5px;
    }
}

@media screen and (min-width:576px) and (max-width:767px) {

    /* library.html: game image on game card */
    #game-image {
        max-width: 200px;
        max-height: 200px;
        text-align: center;
    }

    /* profile.html: user image */
    #circle-border {
        width: 200px;
        height: 200px;
        margin-top: 0.5rem;
    }

    #profile-info {
        text-align: center;
        margin: 0;
    }
}

@media screen and (min-width:768px) and (max-width:991px) {

    /* library.html: game image on game card */
    #game-image {
        max-width: 300px;
        max-height: 300px;
    }

    /* profile.html: user image */
    #circle-border {
        width: 300px;
        height: 300px;
    }

    #profile-info {
        text-align: center;
        font-size: 1.5rem;
    }
}

@media screen and (min-width:992px) {

    /* library.html: game image on game card */
    #game-image {
        max-width: 300px;
        max-height: 300px;
    }

    /* profile.html: user image */
    #circle-border {
        width: 250px;
        height: 250px;
        margin: 0.25rem auto;
    }
}