{% extends "base.html" %}
{% block content %}

    <div class="container-fluid">
        <div class="row justify-content-center mt-5">
            <div class="card shadow p-3 mb-5 mt-4 bg-yellow rounded col-sm-12 col-md-10 col-xl-8"
                style="width: 100vw;">
                <form class="card-body" method="POST" action="{{ url_for('add_game') }}">
                    <!-- form title -->
                    <h3 class="card-title bold text-center">Add a new game to Boardgame Buddy</h5>
                    <p class="text-center">Info added here will be available to all users.<br>
                        Please ensure information you enter is as accurate as possible.<br>
                        Games cannot be deleted once created.</p>
                    <!-- game title input -->
                    <div class="form-group row">
                        <label for="game_title" class="col-10 mx-auto">
                                <i class="fa-solid fa-chess-board" aria-hidden="true"></i>
                                    <strong> Game Title:</strong>
                            <small class="mx-1"> (Required)</small>
                        </label>
                        <input type="text" required
                            class="form-control col-10 mx-auto"
                            placeholder="Enter a game title here"
                            pattern="^[a-zA-Z0-9 ]{3,30}$"
                            id="game_title" name="game_title" 
                            aria-describedby="game_titleHelp">
                        <small id="game_titleeHelp" class="form-text col-10 mx-auto">
                            Game titles can contain letters and numbers only.
                        </small>
                    </div>
                    <!-- designer -->
                    <div class="form-group row">
                        <label for="designer" class="col-10 mx-auto">
                                <i class="fa-solid fa-book" aria-hidden="true"></i>
                                    <strong> Designer</strong>
                            <small class="mx-1"> (Required)</small>
                        </label>
                        <input type="text" required
                            class="form-control col-10 mx-auto" 
                            placeholder="Enter the designer here"
                            id="designer" name="designer"
                            >
                    </div>
                    <!-- min players -->
                    <div class="form-group row">
                        <label for="min_players" class="col-10 mx-auto">
                                <i class="fa-solid fa-user" aria-hidden="true"></i>
                                    <strong> Minimum Players</strong>
                            <small class="mx-1"> (Required)</small>
                        </label>
                        <input type="number" required
                            class="form-control col-10 mx-auto validate"
                            id="min_players" name="min_players"
                            min="1" max="8" placeholder="Enter a number ( 1 - 8 )"
                            aria-describedby="min_playerseHelp">
                        <small id="min-playersHelp" class="form-text col-10 mx-auto">
                            For single player only games, please set both min and max players to 1.
                        </small>
                    </div>
                    <!-- max players -->
                    <div class="form-group row">
                        <label for="max_players" class="col-10 mx-auto">
                                <i class="fa-solid fa-users" aria-hidden="true"></i>
                                    <strong> Maximum Players</strong>
                            <small class="mx-1"> (Required)</small>
                        </label>
                        <input type="number" required
                            class="form-control col-10 mx-auto validate"
                            id="max_players" name="max_players"
                            min="1" max="8" placeholder="Enter a number ( 1 - 8 )"
                            aria-describedby="max-playersHelp">
                        <small id="max_playersHelp" class="form-text col-10 mx-auto">
                            For games that can accommodate more than 8 players, please enter 8.
                        </small>
                    </div>
                    <!-- avg playtime duration -->
                    <div class="form-group row">
                        <label for="duration" class="col-10 mx-auto">
                                <i class="fa-solid fa-clock" aria-hidden="true"></i>
                                    <strong> Average Playtime (mins) </strong>
                            <small class="mx-1"> (Required)</small>
                        </label>
                        <input type="number" required
                            class="form-control col-10 mx-auto validate"
                            id="duration" name="duration"
                            min="10" max="121" placeholder="Enter a number ( 10 - 121 )"
                            aria-describedby="durationHelp">
                        <small id="durationHelp" class="form-text col-10 mx-auto">
                            For games longer than 2 hours, please enter 121.
                        </small>
                    </div>
                    <!-- difficulty -->
                    <div class="form-group row">
                        <label for="difficulty" class="col-10 mx-auto">
                                <i class="fa-solid fa-dice-d20" aria-hidden="true"></i>
                                    <strong> Difficulty </strong>
                            <small class="mx-1"> (Required)</small>
                        </label>
                        <select required
                            class="form-control col-10 mx-auto validate"
                            id="difficulty" name="difficulty">
                                <option value="">Options</option>
                                <option value="beginner">Beginner</option>
                                <option value="advanced">Advanced</option>
                        </select>
                    </div>
                    <!-- description -->
                    <div class="form-group row">
                        <label for="description" class="col-10 mx-auto">
                                <i class="fa-solid fa-pen" aria-hidden="true"></i>
                                    <strong> Description </strong>
                            <small class="mx-1"> (Required)</small>
                        </label>
                        <textarea type="text" required
                            class="form-control col-10 mx-auto validate"
                            placeholder="Please include a brief description (Max 1000 characters)"
                            minlength="100" maxlength="1000"
                            id="description" name="description"></textarea>
                    </div>
                    <!-- image -->
                    <div class="form-group row">
                        <label for="image" class="col-10 mx-auto">
                                <i class="fa-solid fa-image" aria-hidden="true"></i>
                                    <strong> Game Image </strong>
                            <small class="mx-1"> (Required)</small>
                        </label>
                        <input type="text" required
                            class="form-control col-10 mx-auto validate"
                            placeholder="Enter an image URL"
                            id="image" name="image"
                            aria-describedby="imageHelp">
                        <small id="imageHelp" class="form-text col-10 mx-auto">
                            Recommended size = 300pixels<sup>2</sup>
                        </small>
                    </div>
                    <!-- submit button -->
                    <div class="row">
                        <div class="col-10 my-2 text-center mx-auto">
                            <button class="btn btn-lg btn-primary col-sm-6 col-md-4 m-2 mx-1" 
                                type="submit" value="Submit">
                                Submit <i class="fa-regular fa-circle-check mx-1"></i>
                            </button>
                            <a href="{{ url_for('library') }}"
                                class="btn btn-lg btn-danger col-sm-6 col-md-4 m-2 mx-1"
                                type="button">Cancel <i class="fa-regular fa-times-circle mx-1"></i>
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}