{% extends "base.html" %}
{% block content %}

    <div class="container-fluid">
        <div class="row justify-content-center mt-5">
            <div class="card shadow p-3 mb-5 bg-light rounded col-6" style="width: 18rem;">
                <form class="card-body" method="POST" action="">
                    <!-- form title -->
                    <h3 class="card-title text-center">Edit {{ username }}'s Profile</h5>
                    <p class="text-muted text-center">Please note: username / email / password cannot be changed.</p>
                    <!-- username display -->
                    <div class="form-group row">
                        <div class="col-10 mx-auto">
                            <i class="fa-solid fa-user" aria-hidden="true"><p>Username: {{ username }}</p></i>
                        </div>
                    </div>
                    <!-- email input -->
                    <div class="form-group row">
                        <span class="col-10 mx-auto">
                            <i class="fa-solid fa-envelope" aria-hidden="true"></i>
                        </span>
                        <label for="email" class="col-10 mx-auto">Email address
                            <small class="mx-1 text-muted"> (Required)</small>
                        </label>
                        <input type="email" required class="form-control col-10 mx-auto" 
                            placeholder="Enter your email here" id="email" name="email"
                            aria-describedby="emailHelp">
                    </div>
                    <!-- password input -->
                    <div class="form-group row">
                        <span class="col-10 mx-auto">
                            <i class="fa-solid fa-unlock-alt" aria-hidden="true"></i>
                        </span>
                        <label for="password" class="col-10 mx-auto">Password
                            <small class="mx-1 text-muted"> (Required)</small>
                        </label>
                        <input type="password" required
                            class="form-control col-10 mx-auto validate" 
                            placeholder="Enter a username here" pattern="^[a-zA-Z0-9]{6,15}$" 
                            id="password" name="password" aria-describedby="usernameHelp">
                        <small id="usernameHelp" class="form-text col-10 mx-auto text-muted">
                            Password must be between 6 - 20 characters long, 
                            and can contain letters and numbers only.
                        </small>
                    </div>
                    <!-- register button -->
                    <div class="row">
                        <button class="btn-lg btn-primary col-4 my-2 mx-auto shadow" 
                            type="submit" value="Submit">
                            Register <i class="fa-solid fa-sign-in-alt mx-1"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="text-center col-12">
            <p>
                Already registered?
                <a href="{{ url_for('login') }}">
                    Log in
                </a>
            </p>
        </div>
    </div>
    

{% endblock %}