{% extends "base.html" %}
{% block content %}

    <div class="container-fluid">
        <div class="row justify-content-center mt-5">
            <div id="edit_card" class="card shadow p-3 mb-5 bg-yellow rounded col-sm-12 col-md-10 col-xl-8" style="width: 25rem;">
                <form id="edit_card" class="card-body" method="POST" action="">
                    <!-- form title -->
                    <h3 class="card-title text-center capitalize"><strong>Edit {{ info.username }}'s Profile</strong></h5>
                    <p class="text-center">Please note: username / email / password cannot be changed.</p>
                    <div class="form-group">
                        <!-- username display -->
                        <div class="row">
                            <div class="col-10 mx-auto">
                                <p class="capitalize">
                                    <i class="fa-solid fa-user"
                                        aria-hidden="true">
                                    </i><strong> Username: {{ info.username }}</strong></p>
                            <!-- email display -->
                            <p>
                                <i class="fa-solid fa-envelope"
                                    aria-hidden="true">
                                </i><strong> Email: {{ info.email }}</strong></p>
                            </div>
                        </div>
                        <!-- city input -->
                        <div class="row">
                            <div class="col-10 mx-auto my-2">
                                <label for="city">
                                    <i class="fa-solid fa-building"
                                        aria-hidden="true">
                                    </i><strong> City</strong>
                                </label>
                                <input type="text" class="form-control"
                                    value="{{ info.city }}"
                                    placeholder="{{ placeholder.city }}"
                                    id="city" name="city" 
                                    aria-describedby="uHelp">
                            </div>
                        </div>
                        <!-- country input -->
                        <div class="row">
                            <div class="col-10 mx-auto my-2">
                                <label for="country">
                                    <i class="fa-solid fa-globe"
                                        aria-hidden="true">
                                    </i><strong> Country</strong>
                                </label>
                                <input type="text" class="form-control"
                                    value="{{ info.country }}"
                                    placeholder="{{ placeholder.country }}"
                                    id="country" name="country" 
                                    aria-describedby="uHelp">
                            </div>
                        </div>
                        <!-- favourite boardgame -->
                        <div class="row">
                            <div class="col-10 mx-auto my-2">
                                <label for="favourite_game">
                                    <i class="fa-solid fa-heart"
                                        aria-hidden="true">
                                    </i><strong> Favourite Boardgame</strong>
                                </label>
                                <input type="text" class="form-control"
                                    value="{{ info.favourite_game }}"
                                    placeholder="{{ placeholder.favourite_game }}"
                                    id="favourite_game" name="favourite_game" 
                                    aria-describedby="uHelp">
                            </div>
                        </div>
                        <!-- user profile avatar -->
                        <div class="row">
                            <div class="col-10 mx-auto my-2">
                                <label for="avatar_url">
                                    <i class="fa-solid fa-file-image"
                                        aria-hidden="true">
                                    </i><strong> Your Profile Avatar</strong>
                                </label>
                                <input type="text" class="form-control"
                                    value="{{ avatar }}"
                                    placeholder="{{ placeholder.avatar_url }}"
                                    id="avatar_url" name="avatar_url" 
                                    aria-describedby="uHelp">
                                    <small>Enter a URL for your profile image above.<br>Recommend size = 400pixels<sup>2</sup></small>
                            </div>
                        </div>
                        <!-- edit profile buttons -->
                        <div class="row">
                            <div class="col-10 my-2 text-center mx-auto">
                                <!-- save changes profile button -->
                                <button class="btn btn-lg btn-primary shadow m-2" 
                                    type="submit" value="Submit">
                                    Save <i class="fa-solid fa-check mx-1"></i>
                                </button>
                                <!-- cancel changes profile button -->
                                <a href="{{ url_for('profile', username=session['user']) }}"
                                    class="btn btn-lg btn-danger shadow m-2">
                                    Cancel <i class="fa-solid fa-times-circle mx-1"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}