{% extends "base.html" %}
{% block content%}
    <!-- game library header -->
    <div class="title text-center bg-yellow py-3">
        <h1>{{ game.game_title }}</h1>
    </div>

    <!-- game full details card -->
    <div class="container-fluid m-0 p-0">
        <div class="row">
            <div class="card game-card text-center col-md-6 m-3 mx-auto">
                <div class="game-image-container">
                    <img id="game-image" src="{{ game.image }}"
                        class="card-img-top"
                        alt="An image of the game {{ game.game_title}}"
                        no-repeat center center>
                </div>
                <div class="card-body">
                    <h5 class="card-title capitalize underline"><strong>Title: {{ game.game_title }}</strong></h5>
                    <p class="card-text capitalize"><strong>Publisher: </strong>{{ game.publisher }}</p>
                    <p class="card-text"><strong>Min Players: </strong>{{ game.min_players }}</p>
                    <p class="card-text"><strong>Max Players: </strong>{{ game.max_players }}</p>
                    <p class="card-text"><strong>Avg Playtime: </strong>{{ game.avg_playtime_mins }} mins</p>
                    <p class="card-text capitalize"><strong>Difficulty: </strong>{{ game.difficulty }}</p>
                    <p class="card-text"><strong>Description: </strong>{{ game.description }}</p>
                </div>
                <!-- add to user collection / user wishlist buttons -->
                <div class="card-footer">
                    <a href="{{ url_for('game_detail', game_id=game._id) }}">Link</a>
                    <button type="submit" class="btn btn-outline-primary"><strong>Add to Collection</strong></button>
                    <button type="submit" class="btn btn-outline-info"><strong>Add to Wishlist</strong></button>
                </div>
            </div>
        </div>
        <div class="text-center">
            <a href="{{ url_for('library') }}" class="btn btn-primary text-center">Back to main game library</a>
        </div>
    </div>

{% endblock %}
