{% extends "base.html" %}
{% block content%}
    <!-- game library header -->
    <div class="title text-center bg-yellow curved-container py-2">
        <h1 class="capitalize"><strong>{{ game.game_title }}</strong></h1>
        <p class="card-text capitalize"><strong>Designer: </strong>{{ game.designer }}</p>
    </div>

    <!-- game full details card -->
    <div class="container-fluid m-0 p-0">
        <div class="card m-3">
            <div class="row no-gutters p-2">
                <div class="col-sm-12 col-md-4 my-auto game-image-container">
                    <img id="game-image" src="{{ game.image }}"
                            class="card-img-top"
                            alt="An image of the game {{ game.game_title}}"
                            no-repeat>
                </div>
                <div class="col-sm-12 col-md-8">
                    <div class="card-body">
                        <p class="card-text"><strong>Min Players: </strong>{{ game.min_players }}</p>
                        <p class="card-text"><strong>Max Players: </strong>{{ game.max_players }}</p>
                        <p class="card-text"><strong>Avg Playtime: </strong>{{ game.avg_playtime_mins }} (Minutes)</p>
                        <p class="card-text capitalize"><strong>Difficulty: </strong>{{ game.difficulty }}</p>
                        <p class="card-text-description"><strong>Description: </strong>{{ game.description }}</p>
                        <p class="card-text"><strong>Reviews: </strong>{{ relevant_reviews|length }}</p>
                    </div>
                    <!-- add to user collection -->
                    <div class="text-left mb-3">
                        {% if session.user %}
                            <a href="{{ url_for('game', game_id=game._id) }}"
                                class="btn btn-lg btn-outline-primary mx-3 my-2"
                                data-toggle="modal" data-target="#writeReviewModal">
                                <i class="fa-solid fa-pencil mx-1" aria-hidden="true"></i>
                                <strong> Leave a review</strong>
                            </a>
                            <a href="{{ url_for('library') }}"
                                class="btn btn-lg btn-outline-primary back-to-library mx-3 my-2">
                                <i class="fa-solid fa-chevron-left mx-1" aria-hidden="true"></i>
                                <strong> Back to main game library</strong>
                            </a>
                        {% else %}
                            <a href="{{ url_for('login') }}"
                                class="btn btn-lg btn-outline-primary mx-3 my-2">
                                <i class="fa-solid fa-pencil mx-1" aria-hidden="true"></i>
                                <strong> Leave a Review</strong>
                            </a>
                            <a href="{{ url_for('library') }}" 
                                class="btn btn-lg btn-outline-primary back-to-library mx-3 my-2">
                                <i class="fa-solid fa-chevron-left mx-1" aria-hidden="true"></i>
                                <strong> Back to main game library</strong>
                            </a>
                            <p class="text-pink mx-3 mt-1">
                                <small>You must be logged in to "Leave a Review"</small>
                            </p>
                        {% endif %}
                    </div>
                </div>
                <!-- add a review modal window -->
                <div class="modal fade" id="writeReviewModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header bg-yellow">
                                <h5 class="modal-title"><strong>Write a review for {{ game.game_title }}...</strong></h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span class="text-purple" aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <form class="modal-body" method="POST" action="{{ url_for('game', game_id=game._id) }}">
                                <!-- review title input -->
                                <div class="form-group m-2 row">
                                    <label for="review-title" class="mr-2" aria-hidden="true">Review Title:</label>
                                    <input type="text" placeholder="Give your review a title" required
                                        id="review-title" name="review-title" min-length="5" maxlength="30">
                                </div>
                                <!-- review main text input -->
                                <div class="form-group m-2 row">
                                    <label for="review" class="mr-2" aria-hidden="true">Review:</label>
                                    <textarea required id="review" name="review" 
                                        min-length="5" maxlength="400" rows="5" cols="60"></textarea>
                                    <small class="text-muted">Reviews are limited to 400 characters.</small>
                                </div>
                                <div class="modal-footer bg-yellow">
                                    <button 
                                        type="button" data-dismiss="modal"
                                        class="btn btn-lg btn-primary my-2">
                                        <i class="fa-solid fa-chevron-left mx-1" aria-hidden="true"></i> Back</button>
                                    <button
                                        type="submit"
                                        class="btn btn-lg bg-info text-white my-2">
                                            Submit
                                        <i class="fa-solid fa-check mx-1" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- user reviews for current active boardgame -->
        <div class="card m-3">
            <div class="card-title bg-yellow">
                <h3 class="capitalize m-3"><strong>user reviews for {{ game.game_title }}</strong></h3>
            </div>
            <div class="card-body">
                <!-- if no reviews for this game, invite user to write one -->
                {% if relevant_reviews|length == 0 %}
                    <div class="text-center mx-auto">
                        <h4 class="text-center">What?... No reviews for this game yet?<br>Be the first to write one!</h4>
                        {% if session.user %}
                            <a href="{{ url_for('game', game_id=game._id) }}" class="btn btn-lg btn-outline-primary justisfy-content-center mx-3"
                                data-toggle="modal" data-target="#writeReviewModal">
                                <i class="fa-solid fa-pencil mx-1" aria-hidden="true"></i>
                                <strong> Leave a review</strong>
                            </a>
                        {% else %}
                            <!-- if no user logged in - switches review btn to login -->
                            <a href="{{ url_for('login') }}"
                                class="btn btn-lg btn-outline-info my-1">
                                <i class="fa-solid fa-sign-in mx-1" aria-hidden="true"></i>
                                <strong>Log In</strong></a>
                            <p class="text-pink text-center mt-1"><small>You must be logged in to leave a review.</small></p>
                        {% endif %}
                    </div>
                {% else %}
                    <div class="justify-content-start">
                        {% for review in relevant_reviews %}
                            <div class="review-entry p-0">
                                <div  class="bg-yellow">
                                    <h5 class="m-0 p-2"><strong>{{ review.review_title }}</strong></h5>
                                </div>
                                <p class="m-0 p-2">{{ review.review }}</p>
                                <p class="capitalize m-0 p-2">Game: {{ review.game_title }}</p>
                                <p class="capitalize m-0 p-2">Author: {{ review.username }}</p>
                                {% if session.user|lower == review.username|lower %}
                                    <button
                                        class="btn btn-lg btn-outline-primary m-2"
                                        type="submit"
                                        value="submit"
                                        data-toggle="modal"
                                        data-target="#editModal{{ loop.index }}">
                                        Edit
                                    </button>
                                    <button 
                                        class="btn btn-lg btn-outline-danger m-2"
                                        type="submit"
                                        value="submit"
                                        data-toggle="modal"
                                        data-target="#deleteModal{{ loop.index }}">
                                        Delete
                                    </button>
                                    <!-- edit review modal -->
                                    <div class="modal fade" id="editModal{{ loop.index }}" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content">
                                                <div class="modal-header bg-yellow">
                                                    <h5 class="modal-title" id="editModalLabel"><strong>Edit your review for {{ game.game_title }}</strong></h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span class="text-purple" aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <form action="{{ url_for('edit_review', review=review._id, game_id=game._id) }}" method="POST" class="modal-body text-center">
                                                    <!-- Add a hidden input field to include the game_id -->
                                                    <input type="hidden" name="game_id" value="{{ game._id }}">
                                                    <!-- review title input -->
                                                    <div class="form-group m-2 row">
                                                        <label for="edit_review_title" class="mr-2" aria-hidden="true">Review Title:</label>
                                                        <input type="text" value="{{ review.review_title }}" required
                                                            id="edit_review_title" name="edit_review_title" min-length="5" maxlength="30">
                                                    </div>
                                                    <!-- review main text input -->
                                                    <div class="form-group m-2 row">
                                                        <label for="edit_review" class="mr-2" aria-hidden="true">Review:</label>
                                                        <textarea required id="edit_review" name="edit_review" 
                                                            min-length="5" maxlength="400" rows="5" cols="60">{{ review.review }}</textarea>
                                                        <small class="text-muted">Reviews are limited to 400 characters.</small>
                                                    </div>
                                                    <div>
                                                        <button 
                                                            type="button" data-dismiss="modal"
                                                            class="btn btn-lg btn-danger my-2 shadow">
                                                                <i class="fa-solid fa-chevron-left mx-1" aria-hidden="true"></i> Back
                                                        </button>
                                                        <button
                                                            type="submit"
                                                            class="btn btn-lg btn-primary text-white my-2 shadow">
                                                                Save 
                                                                    <i class="fa-solid fa-check mx-1" aria-hidden="true"></i> 
                                                        </button>
                                                    </div>
                                                </form>
                                            </div> 
                                        </div>
                                    </div>
                                    <!-- delete review modal -->
                                    <div class="modal fade" id="deleteModal{{ loop.index }}" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content">
                                                <div class="modal-header bg-yellow">
                                                    <h5 class="modal-title" id="deleteModalLabel"><strong>Are you sure?...</strong></h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span class="text-purple" aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body text-center">
                                                    <p class="text-pink bold"><strong>
                                                        Your review will be permanently deleted
                                                    </strong></p>
                                                    <p class="bold">
                                                        Click Confirm to delete.<br>Or Back to cancel.
                                                    </p>
                                                </div>
                                                <div class="modal-footer">
                                                    <form
                                                        method="POST"
                                                        action="{{ url_for('delete_review', review=review._id, game_id=review.game_id) }}">
                                                        <button 
                                                            type="button" data-dismiss="modal"
                                                            class="btn btn-lg btn-primary my-2 shadow">
                                                                <i class="fa-solid fa-chevron-left mx-1" aria-hidden="true"></i> Back
                                                        </button>
                                                        <button
                                                            type="submit"
                                                            class="btn btn-lg bg-danger text-white my-2 shadow">
                                                                Confirm 
                                                                    <i class="fa-solid fa-trash mx-1" aria-hidden="true"></i> 
                                                        </button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% else %}
                                {% endif %}
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
