{% extends "base.html" %}
{% block content%}
    <!-- game library header -->
    <div class="title text-center bg-yellow curved-container py-2">
        <h1 class="capitalize"><strong>{{ game.game_title }}</strong></h1>
        <p class="card-text capitalize"><strong>Publisher: </strong>{{ game.publisher }}</p>
    </div>

    <!-- game full details card -->
    <div class="container-fluid m-0 p-0">
        <div class="card m-3">
            <div class="row no-gutters p-2">
                <div class="col-sm-12 col-md-4 mx-auto my-auto game-image-container">
                    <img id="game-image" src="{{ game.image }}"
                            class="card-img-top"
                            alt="An image of the game {{ game.game_title}}"
                            no-repeat center center>
                </div>
                <div class="col-sm-12 col-md-8">
                    <div class="card-body">
                        <p class="card-text"><strong>Min Players: </strong>{{ game.min_players }}</p>
                        <p class="card-text"><strong>Max Players: </strong>{{ game.max_players }}</p>
                        <p class="card-text"><strong>Avg Playtime: </strong>{{ game.avg_playtime_mins }}</p>
                        <p class="card-text"><strong>Difficulty: </strong>{{ game.difficulty }}</p>
                        <p class="card-text"><strong>Description: </strong>{{ game.description }}</p>
                    </div>
                    <!-- add to user collection / user wishlist buttons -->
                    <div class="text-centear">
                        <button type="submit" class="btn btn-outline-primary mx-3"><strong>Add to Collection</strong></button>
                        <button type="submit" class="btn btn-outline-info mx-3"><strong>Add to Wishlist</strong></button>
                        <a href="{{ url_for('library') }}" class="btn btn-primary text-center mx-3">Back to main game library</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="card m-3">
            <div class="card-title bg-yellow">
                <h3 class="capitalize m-3"><strong>user reviews for {{ game.game_title }}</strong></h3>
            </div>
            <div class="card-body">
                <p>Entry One</p>
                <p>Entry Two</p>
                <p>Entry Three</p>
            </div>
        </div>
    </div>

{% endblock %}
