{% extends "base.html" %}
{% block content%}
    <!-- game library header -->
    <div id="game-library" class="title text-center py-2">
        <h1>Board Game Library</h1>
        <p>Browse the full library of games.<br>
            Or use the filters to search for games that fit your needs.</p>
    </div>
    <!-- filter games form -->
    <div class="text-center">
        <form class="mx-auto" action="">
            <div style="border: 5px dotted black; background-color: grey;">
                <h3>FILTERS PLACEHOLDER</h3>
            </div>
        </form>
    </div>
    <!-- games library game-cards -->
    <div class="container-fluid m-0 p-0">
        <div class="row">
            {% for game in games %}
                <div class="card game-card text-center col-md-6 m-3 mx-auto">
                    <div class="game-image-container">
                    <a href="{{ url_for('game', game_id=game._id) }}" 
                        class="game-image-container">
                            <img id="game-image" src="{{ game.image }}"
                                class="card-img-top"
                                alt="An image of the game {{ game.game_title}}"
                                no-repeat center center>
                    </a>
                    </div>
                    <div class="card-body">
                        <a href="{{ url_for('game', game_id=game._id) }}" 
                            class="game-image-container">
                            <h5 class="card-title capitalize underline">
                                <strong>Title: {{ game.game_title }}</strong></h5>
                        </a>
                        
                        <p class="card-text capitalize"><strong>Publisher: </strong>{{ game.publisher }}</p>
                        <p class="card-text"><strong>Min Players: </strong>{{ game.min_players }}</p>
                        <p class="card-text"><strong>Max Players: </strong>{{ game.max_players }}</p>
                        <p class="card-text"><strong>Avg Playtime: </strong>{{ game.avg_playtime_mins }} mins</p>
                        <p class="card-text capitalize"><strong>Difficulty: </strong>{{ game.difficulty }}</p>
                    </div>
                    <!-- add to user collection / user wishlist buttons -->
                    <div class="card-footer">
                        <!-- check for active user -->
                        <form method="POST" action="{{ url_for('collection', game_id=game._id) }}">
                            {% if session.user %}
                                <button class="btn btn-outline-primary"
                                    type="submit" value="Submit">
                                        <strong>Add to Collection</strong>
                                </button>
                            {% else %}
                                <!-- display if no user logged in. 
                                    Redirects to Log In if user still 
                                    clicks the button -->
                                <a href="{{ url_for('login') }}"
                                    class="btn btn-outline-primary" 
                                        type="button">
                                        <strong>Add to Collection</strong>
                                </a>
                            {% endif %}
                        </form>
                            {% if session.user %}
                            {% else %}
                                <p><small>You must be logged in to add this game<br></small></p>
                            {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
