{% extends "base.html" %}
{% block content %}
    <!-- game library header -->
    <div id="game-library" class="title text-center px-1 py-1">
        <h1 class="main-title"><strong>Board Game Library</strong></h1>
        <p>Browse the full library of games.<br>
            Or use the filters to search for games that fit your needs.</p>
    </div>
    
    <!-- library search filters -->
    <nav class="navbar bg-purple">
        <form id="search-form" class="form-inline"
            method="POST" action="{{ url_for('search') }}">
            <!-- number of players -->
            <div class="form-group search-inputs col-xs-6 my-2">
                <label for="players" class="text-white mr-2">
                    <i class="fa-solid fa-users mr-2"></i>
                    Player count
                </label>
                <div class="input-group">
                    <input id="players" name="players"
                        type="number" min="1" max="8"
                        class="form-control-lg mr-2"
                        placeholder="(1 - 8)"
                        aria-label="players">
                </div>
            </div>
            <!-- avg play time -->
            <div class="form-group search-inputs col-xs-6 my-2">
                <label for="duration" class="text-white mr-2">
                    <i class="fa-solid fa-clock mr-2"></i>
                    Avg playtime
                </label>
                <div class="input-group">
                    <input id="duration" name="duration"
                        type="text" class="form-control-lg mr-2"
                        placeholder="(15-121 mins)"
                        aria-label="play time in minutes">
                </div>
            </div>
            <!-- difficulty -->
            <div class="form-group search-inputs col-xs-12 my-2">
                <label for="difficulty" class="text-white mr-2">
                    <i class="fa-solid fa-dice-d20 mr-2 text-white"></i>
                    Difficulty
                </label>
                <div class="input-group">
                    <select id="difficulty" name="difficulty" 
                        class="form-control-lg mr-2" aria-label="Difficulty"
                        style="width: 9rem;">
                        <option class="" value="">Difficulty</option>
                        <option class="" value="beginner">Beginner</option>
                        <option class="" value="advanced">Advanced</option>
                    </select>
                </div>
            </div>
            <!-- search title -->
            <div id="search-group" class="form-group col-xs-12 my-2">
                <div class="input-group"> 
                    <input id="search" name="search"
                        type="text" placeholder="Search title"
                        class="form-control-lg mr-2"
                        aria-label="search">
                </div>
                <div class="col-xs-12">
                    <button class="btn btn-lg btn-outline-light ml-1 my-2 my-sm-0"
                        type="submit">
                        Search
                    </button>
                    <a href="{{ url_for('library') }}"
                        class="btn btn-lg btn-outline-light ml-1 my-2 my-sm-0">
                        Reset
                    </a>
                </div>
            </div>
        </form>
    </nav>

    <!-- games library game-cards -->
    {% if games|length > 0 %}
    <div class="container-fluid m-0 p-0">
        <div class="row bg-yellow">
            <h5 class="text-center col-12 mt-1 p-0"><strong>{{ games|length }} Games Found</strong></h5>
        </div>
        <div class="row">
            {% for game in games %}
                <div class="card game-card text-center col-md-6 m-3 mx-auto">
                    <div class="game-image-container">
                    <a href="{{ url_for('game', game_id=game._id) }}" 
                        class="game-image-container">
                            <img id="game-image" src="{{ game.image }}"
                                class="card-img-top"
                                alt="An image of the game {{ game.game_title}}"
                                onerror="this.onerror=null;this.src='/static/images/no-img.jpg'">
                    </a>
                    </div>
                    <div class="card-body">
                        <a href="{{ url_for('game', game_id=game._id) }}" 
                            class="game-image-container">
                            <h5 class="card-title capitalize underline hvr-float">
                                <strong>{{ game.game_title }}</strong></h5>
                        </a>
                        
                        <p class="capitalize"><strong>Designer: </strong>{{ game.designer }}</p>
                        <p class="card-text"><strong>Min Players: </strong>{{ game.min_players }}</p>
                        <p class="card-text"><strong>Max Players: </strong>{{ game.max_players }}</p>
                        <p class="card-text"><strong>Avg Playtime: </strong>{{ game.avg_playtime_mins }} mins</p>
                        <p class="card-text capitalize"><strong>Difficulty: </strong>{{ game.difficulty }}</p>
                    </div>
                    <!-- add to user collection / user wishlist buttons -->
                    <div class="card-footer">
                        <!-- check for active user -->
                        <form method="POST" action="{{ url_for('collection', game_id=game._id) }}">
                            <a href="{{ url_for('game', game_id=game._id) }}"
                                class="btn btn-lg btn-outline-primary mb-1 card-library-btns">
                                <strong><i class="fa-solid fa-circle-question"></i> More info</strong></a>
                            {% if session.user %}
                                <button class="btn btn-lg btn-outline-primary mb-1 card-library-btns"
                                    type="submit" value="Submit">
                                        <strong>
                                            <i class="fa-solid fa-circle-plus text-purple"></i> Add to Collection</strong>
                                </button>
                            {% else %}
                                <!-- display if no user logged in. 
                                    Redirects to Log In if user still 
                                    clicks the button -->
                                <a href="{{ url_for('login') }}"
                                    class="btn btn-lg btn-outline-primary mb-1 card-library-btns" 
                                        type="button">
                                        <strong>
                                            <i class="fa-solid fa-circle-plus text-purple"></i> Add to Collection</strong>
                                </a>
                            {% endif %}
                        </form>
                            {% if session.user %}
                            {% else %}
                                <p class="text-pink"><small>You must be logged in to add this game<br></small></p>
                            {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    {% else %}
    <div class="text-center">
        <h4 class="text-center text-pink bold mt-4">Oops! No games matching your search found.</h4>
        <a href="{{ url_for('add_game') }}"
            class="btn btn-lg btn-outline-primary card-library-btns m-3 col-12">
            <i class="fa-solid fa-circle-plus mx-1"></i><strong> Add Game</strong>
        </a>
        <a href="{{ url_for('library') }}"
            class="btn btn-lg btn-outline-primary card-library-btns m-3 col-12">
            <i class="fa-solid fa-chevron-left mx-1"></i><strong> Return to Library</strong>
        </a>
        <p class="text-center">( Or click the Reset button in the search bar )</p>
    </div>
    {% endif %}

{% endblock %}
