{% extends "base.html" %}
{% block content %}

    <div class="container-fluid">
        <div class="row justify-content-center mt-5">
            <div class="card shadow p-3 mb-5 bg-yellow rounded col-6">
                <form class="card-body" method="POST" action="{{ url_for('login') }}">
                    <!-- form title -->
                    <h3 class="card-title text-center">Log In to Boardgame Buddy</h5>
                    <!-- username input -->
                    <div class="form-group row">
                        <label for="username" class="col-10 mx-auto">
                                <i class="fa-solid fa-user-cog"
                                    aria-hidden="true"></i> Username
                            <small class="mx-1"> (Required)</small>
                        </label>
                        <input type="text" required
                            class="form-control col-10 mx-auto" placeholder="Enter a username here"
                            pattern="^[a-zA-Z0-9]{3,15}$" id="username" name="username" 
                            aria-describedby="usernameHelp">
                        <small id="usernameHelp" class="form-text col-10 mx-auto">
                            Username must be between 3 - 15 characters long, 
                            and can contain letters and numbers only.
                        </small>
                    </div>
                    <!-- password input -->
                    <div class="form-group row">
                        <label for="password" class="col-10 mx-auto">
                                <i class="fa-solid fa-unlock-alt" aria-hidden="true"></i> Password
                            <small class="mx-1"> (Required)</small>
                        </label>
                        <input type="password" required
                            class="form-control col-10 mx-auto validate" 
                            placeholder="Enter a username here" pattern="^[a-zA-Z0-9]{6,15}$" 
                            id="password" name="password" aria-describedby="usernameHelp">
                        <small id="usernameHelp" class="form-text col-10 mx-auto">
                            Password must be between 6 - 20 characters long, 
                            and can contain letters and numbers only.
                        </small>
                    </div>
                    <!-- log in button -->
                    <div class="row">
                        <button class="btn-lg btn-primary col-4 my-2 mx-auto shadow" 
                            type="submit" value="Submit">
                            Log in <i class="fa-solid fa-sign-in-alt mx-1"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-12 text-center mx-auto">
            <p>
                New Here?
                <a href="{{ url_for('register') }}">
                    Register an account for FREE additional features!
                </a>
            </p>
        </div>
    </div>
    

{% endblock %}