{% extends "base.html" %}
{% block content %}

    <div class="container-fluid">
        <div class="row justify-content-center mt-5">
            <div id="login-card"
                class="card shadow bg-yellow rounded mt-4 col-sm-12 col-md-10 col-xl-8"
                style="width: 100vw;">
                <form class="card-body" method="POST" action="{{ url_for('login') }}">
                    <!-- form title -->
                    <h1 class="card-title main-title text-center"><strong>Log In to Boardgame Buddy</strong></h1>
                    <!-- username input -->
                    <div class="form-group row">
                        <label for="username" class="col-10 mx-auto">
                                <i class="fa-solid fa-user-cog"
                                    aria-hidden="true"></i> Username
                            <small class="mx-1"> (Required)</small>
                        </label>
                        <input type="text" required
                            class="form-control col-10 mx-auto" placeholder="Enter your username here"
                            pattern="^[a-zA-Z0-9]{3,15}$" id="username" name="username" 
                            aria-describedby="usernameHelp">
                        <div id="usernameHelp" hidden>Enter your username here</div>
                    </div>
                    <!-- password input -->
                    <div class="form-group row">
                        <label for="password" class="col-10 mx-auto">
                                <i class="fa-solid fa-unlock-alt" aria-hidden="true"></i> Password
                            <small class="mx-1"> (Required)</small>
                        </label>
                        <input type="password" required
                            class="form-control col-10 mx-auto" 
                            placeholder="Enter your password here" pattern="^[a-zA-Z0-9]{6,15}$" 
                            id="password" name="password" aria-describedby="paswordHelp">
                        <div id="paswordHelp" hidden>Enter your password here</div>
                    </div>
                    <!-- log in button -->
                    <div class="row">
                        <button class="btn-lg btn-primary col-sm-6 col-md-4 my-2 mx-auto shadow" 
                            type="submit" value="Submit" aria-describedby="submitHelp" >
                            Log in <i class="fa-solid fa-sign-in-alt mx-1"></i>
                        </button>
                        <div id="submitHelp" hidden>Submit button to action log in</div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-12 text-center mb-3 mx-auto">
            <p class="mt-2 mb-0">New Here?</p>
            <a href="{{ url_for('register') }}">
                Register an account for FREE additional features!
            </a>
            
        </div>
    </div>
    

{% endblock %}