{% extends "base.html" %}
{% block content %}

    <div class="container-fluid bg-light-blue">
        <!-- profile banner -->
        <div class="shadow bg-yellow row">
            <!-- user profile image -->
            <div id="circle-border" class="col-sm-12 col-md-4">
                <img id="circle-profile-img"
                    src="{{ avatar }}"
                    alt="Profile image for {{ username }}" no-repeat center center>
            </div>
            <div id="profile-info" class="col-sm-12 col-md-8">
                <!-- user profile info -->
                <h3 class="username-title">
                    <strong>{{ info.username }}'s Profile</strong>
                </h3>
                <p class="m-0">Email: {{ info["email"] }}</p>
                <p class="capitalize m-0">City: {{ info["city"] }}</p>
                <p class="capitalize m-0">Country: {{ info["country"] }}</p>
                <p class="capitalize">Favourite Game: {{ info["favourite_game"] }}</p>

                <!-- edit user info button -->
                <a href="{{ url_for('edit_profile', username=session['user']) }}" class="btn btn-lg btn-primary mr-2 my-2 shadow" 
                    type="submit" value="Submit">
                    Edit <i class="fa-solid fa-pencil mx-1" aria-hidden="true"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-light-blue">
        <!-- user collection -->
        <div class="card shadow bg-light m-2 rounded row">
            <div class="row card-title bg-light text-center my-3 mx-auto">
                <h3 class="capitalize col-12 mx-3 px-5 text-center">
                    <strong>{{ info.username }}'s Collection</strong></h3>
            </div>
            <div class="card-body">
                {% if collectionImages|length == 0  %}
                    <h4 class="text-center">Your collection is empty!</h4>
                    <h5 class="text-center"><a href="{{ url_for('library') }}">
                        Go to games Library</a></h5>
                {% else %}
                    <!-- user games collection window -->
                    <div class="row bg-light mx-auto">
                        {% for game in collectionImages %}
                        <div class="thumbnail-container my-auto">
                            <img src="{{ game[0] }}"
                            class="card-img-top img-thumbnail"
                            alt="An image for the game {{ game[1] }}"
                            no-repeat center center>
                            <!-- delete game from collection buttons-->
                            <a
                                action="{{ url_for('edit_collection', this_game=game[1]) }}"
                                method="POST">
                                <button
                                    class="btn btn-lg btn-danger text-white mb-2 coll-game-delete capitalize"
                                    type="submit"
                                    value="Submit"
                                    data-toggle="modal"
                                    data-target="#exampleModal">
                                        <strong>Remove</strong>
                                        <i class="fa-solid fa-times-circle mx-1" aria-hidden="true"></i>
                                </button>
                            </a>
                        </div>
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header bg-yellow">
                                        <h5 class="modal-title" id="exampleModalLabel"><strong>Are you sure?...</strong></h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span class="text-purple" aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body text-center">
                                        <p class="text-pink"><strong>
                                            This game will be removed from your<br>
                                            personal games collection.
                                        </strong></p>
                                        <p>
                                            Click Confirm to delete.<br>Or Back to cancel.
                                        </p>
                                    </div>
                                    <div
                                        action="{{ url_for('edit_collection', this_game=game[1]) }}"
                                        class="modal-footer bg-yellow">
                                        <button 
                                            type="button" data-dismiss="modal"
                                            class="btn btn-lg btn-primary my-2 shadow">
                                            <i 
                                            class="fa-solid fa-chevron-left mx-1"
                                            aria-hidden="true">
                                            </i> Back
                                        </button>
                                        <a
                                            href="{{ url_for('edit_collection', this_game=game[1]) }}"
                                            type="button"
                                            class="btn btn-lg bg-danger text-white my-2 shadow">
                                            Confirm 
                                            <i class="fa-solid fa-trash mx-1" aria-hidden="true"></i> 
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %} 
