{% extends "base.html" %}
{% block content %}

    <div class="container-fluid">
        <div class="row justify-content-center mt-5">
            <div class="card col-6" style="width: 18rem;">
                <form class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    <p class="card-text">Test</p>
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                </form>
            </div>
        </div>
    </div>
    

{% endblock %}